@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin scroll-bar($direction: y) {
  &::-webkit-scrollbar {
    @if $direction ==y {
      width: 1px;
    } @else {
      height: 1px;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-muted-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #fff;
    --bg-color: #111;
    --toc-bg-color: rgba(17, 17, 17, 0.8);
    --text-color: #aaa;
    --text-muted-color: #999;
    --text-faded-color: #666;
    --text-title-color: #eee;
    --a-color: #eee;
    --code-block-bg: #181818;
    --code-numbers-border: #333;
    --code-highlight-bg: #333;
    --code-remove-bg: rgba(244, 63, 94, 0.16);
    --code-add-bg: rgba(40, 180, 99, 0.16);
    --code-remove-color: #f43f5e;
    --code-add-color: #28b463;
    --code-error-bg: rgba(244, 63, 94, 0.16);
    --code-warning-bg: rgba(234, 179, 8, 0.16);
    --block-info-bg: rgba(102, 102, 120, 0.16);
    --block-tip-bg: rgba(104, 126, 236, 0.16);
    --block-warning-bg: rgba(234, 179, 8, 0.16);
    --block-danger-bg: rgba(244, 63, 94, 0.16);
    --block-details-bg: rgba(102, 102, 120, 0.16);
    --quote-bg: rgba(255, 255, 255, 0.05);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #000;
    --bg-color: #fff;
    --toc-bg-color: rgba(255, 255, 255, 0.8);
    --text-color: #444;
    --text-muted-color: #666;
    --text-faded-color: #999;
    --text-title-color: #111;
    --a-color: #111;
    --code-block-bg: #f7f7f7;
    --code-numbers-border: #eaeaea;
    --code-highlight-bg: #eaeaea;
    --code-remove-bg: rgba(244, 63, 94, 0.16);
    --code-add-bg: rgba(40, 180, 99, 0.16);
    --code-remove-color: #f43f5e;
    --code-add-color: #28b463;
    --code-error-bg: rgba(244, 63, 94, 0.16);
    --code-warning-bg: rgba(234, 179, 8, 0.16);
    --block-info-bg: rgba(102, 102, 120, 0.16);
    --block-tip-bg: rgba(104, 126, 236, 0.16);
    --block-warning-bg: rgba(234, 179, 8, 0.16);
    --block-danger-bg: rgba(244, 63, 94, 0.16);
    --block-details-bg: rgba(102, 102, 120, 0.16);
    --quote-bg: rgba(0, 0, 0, 0.05);
  }
}

:root {
  --100-percent: 100%;
  --0-percent: 0%;
  --font: "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-family: var(--font);
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  overflow-x: hidden;

  @include scroll-bar;
}

.navbar {
  top: 20px;
  left: 20px;
  right: 20px;
  height: 50px;
  background-color: transparent;
  z-index: 1000;
  position: fixed;
  // border-bottom: 1px solid #eaecef;

  .navbar-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;

    .brand {
      .brand-title {
        padding: 0 10px;
        display: flex;
        margin: 0;
        font-size: 48px;
        text-decoration: none;

        a {
          text-decoration: none;
          font-weight: 200;
          color: var(--accent-color);
          // font-family: "snell roundhand", sans-serif;
          font-family: noteworthy, sans-serif;
        }
      }
    }

    .buttons {
      a {
        display: block;
        margin: 0 10px;
        text-decoration: none;
        color: var(--text-muted-color);
        font-size: 1.2rem;
        transition: all 0.2s ease;

        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
}

.posts-wrapper {
  padding: 0 30px;
  max-width: 800px;
  width: calc(100% - 60px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;

  .title {
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
    z-index: 100;
    margin-bottom: 20px;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 30px;
      bottom: -30px;
      left: 0;
      // gradient to transparent
      background: linear-gradient(to top, transparent 0%, var(--bg-color) 100%);

      transition: all 0.2s ease;
      z-index: -1;
    }

    .options {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 0.8rem;
      margin-bottom: 20px;

      label {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid var(--text-muted-color);
        background-color: transparent;
        display: inline-block;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &::before {
          content: "";
          background-color: var(--accent-color);
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          width: 8px;
          height: 8px;
          transition: all 0.3s ease;
        }

        &:hover {
          border-color: var(--accent-color);

          &::before {
            transform: translate(-50%, -50%) scale(0.3);
          }
        }

        &:checked {
          &:hover {
            &::before {
              transform: translate(-50%, -50%) scale(0.7);
            }
          }

          &::before {
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
  }

  & .post-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: auto;
    // flex-grow: 1;
    padding: 10px 0;
    background-color: transparent;

    & .post-info {
      & .post-title {
        height: max-content;
        white-space: normal;
        font-size: 1.5rem;
        color: var(--text-color);
        text-decoration: none;
        transition: all 0.2s ease;

        &:hover {
          color: var(--bg-color);
        }
      }

      & .post-excerpt p {
        font-size: 1rem;
        margin: 10px 20px 0 30px;
        padding: 0;
        position: relative;
        display: block;
        height: max-content;
        background-color: transparent;
        color: var(--text-muted-color);
        transition: all 2s ease;

        &::after {
          content: "";
          position: absolute;
          display: block;
          height: 90%;
          width: 1px;
          top: 5%;
          left: -15px;
          background-color: var(--text-muted-color);
          transition: all 0.2s ease;
          z-index: -1;
          border-radius: 2px;
        }
      }
    }

    & .post-other-info {
      position: relative;
      display: flex;
      flex-direction: row;
      height: max-content;
      padding: 10px 0;
      word-wrap: break-word;
      font-size: 1rem;
      font-family: var(--font-mono);
      color: var(--text-muted-color);

      & .post-date {
        margin-right: 20px;
      }

      & .post-reading-info {
        display: flex;
        height: max-content;
        word-wrap: break-word;

        & .post-reading-time {
          margin-right: 20px;
        }

        & .post-word-count {
          margin-right: 20px;
        }
      }
    }
  }
}

.content-footer {
  & .last-updated {
    font-size: 0.8rem;
    color: var(--text-muted-color);
    margin-top: 20px;
  }

  & .related-posts {
    margin-top: 20px;
    color: var(--text-muted-color);
    display: flex;
    flex-direction: column;

    & .related-post {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      & .related-post-title {
        font-size: 1rem;
        color: var(--text-muted-color);
        transition: all 0.2s ease;
      }
    }
  }
}

.not-found {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .nf-title {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-title-color);
    text-align: center;
  }

  .nf-info {
    width: 100%;
    font-size: 1.2rem;
    color: var(--text-muted-color);

    a {
      color: var(--text-muted-color);
      transition: all 0.2s ease;

      &.license {
        color: var(--accent-color);
      }

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}

button#back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--text-muted-color);
  color: var(--bg-color);
  transition: all 0.2s ease;
  opacity: 0;
  cursor: pointer;

  & svg {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  &:hover {
    background-color: var(--accent-color);
  }
}
