@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@mixin scroll-bar($direction: y) {
  // scrollbar style

  // scrollbar width
  &::-webkit-scrollbar {
    @if $direction ==y {
      width: 1px;
    } @else {
      height: 1px;
    }
  }

  // scrollbar track
  &::-webkit-scrollbar-thumb {
    background-color: var(--text-muted-color);
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--text-muted-color);
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

  &::before {
    content: "";
    background-color: var(--accent-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    transition: all 0.3s ease;
  }

  &:hover {
    border-color: var(--accent-color);

    &::before {
      transform: translate(-50%, -50%) scale(0.3);
    }
  }

  &:checked {
    &:hover {
      &::before {
        transform: translate(-50%, -50%) scale(0.7);
      }
    }

    &::before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #fff;
    --bg-color: #111;
    --toc-bg-color: rgba(17, 17, 17, 0.8);
    --text-color: #aaa;
    --text-muted-color: #999;
    --text-faded-color: #666;
    --text-title-color: #eee;
    --a-color: #eee;
    --code-block-bg: #181818;
    --code-numbers-border: #333;
    --code-highlight-bg: #333;
    --code-remove-bg: rgba(244, 63, 94, 0.16);
    --code-add-bg: rgba(40, 180, 99, 0.16);
    --code-remove-color: #f43f5e;
    --code-add-color: #28b463;
    --code-error-bg: rgba(244, 63, 94, 0.16);
    --code-warning-bg: rgba(234, 179, 8, 0.16);
    --block-info-bg: rgba(102, 102, 120, 0.16);
    --block-tip-bg: rgba(104, 126, 236, 0.16);
    --block-warning-bg: rgba(234, 179, 8, 0.16);
    --block-danger-bg: rgba(244, 63, 94, 0.16);
    --block-details-bg: rgba(102, 102, 120, 0.16);
    --quote-bg: rgba(255, 255, 255, 0.05);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #000;
    --bg-color: #fff;
    --toc-bg-color: rgba(255, 255, 255, 0.8);
    --text-color: #444;
    --text-muted-color: #666;
    --text-faded-color: #999;
    --text-title-color: #111;
    --a-color: #111;
    --code-block-bg: #f7f7f7;
    --code-numbers-border: #eaeaea;
    --code-highlight-bg: #eaeaea;
    --code-remove-bg: rgba(244, 63, 94, 0.16);
    --code-add-bg: rgba(40, 180, 99, 0.16);
    --code-remove-color: #f43f5e;
    --code-add-color: #28b463;
    --code-error-bg: rgba(244, 63, 94, 0.16);
    --code-warning-bg: rgba(234, 179, 8, 0.16);
    --block-info-bg: rgba(102, 102, 120, 0.16);
    --block-tip-bg: rgba(104, 126, 236, 0.16);
    --block-warning-bg: rgba(234, 179, 8, 0.16);
    --block-danger-bg: rgba(244, 63, 94, 0.16);
    --block-details-bg: rgba(102, 102, 120, 0.16);
    --quote-bg: rgba(0, 0, 0, 0.05);
  }
}

:root {
  --font: "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  font-family: var(--font);
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font);
  color: var(--text-color);
  line-height: 1.5;
  overflow-x: hidden;

  @include scroll-bar;
}

button#back-to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: var(--text-muted-color);
  color: var(--bg-color);
  transition: all 0.2s ease;
  opacity: 0;
  cursor: pointer;

  & svg {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  &:hover {
    background-color: var(--accent-color);
  }
}

#content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  line-height: 2;
  font-size: 1.2rem;

  & > div {
    width: 100%;
  }

  & > div > p:first-child {
    display: none;
  }

  & .table-of-contents {
    overflow-y: auto;
    position: fixed;
    top: 100px;
    z-index: 100;
    left: 0;
    display: flex;
    // height: calc(100vh - 200px);
    max-width: calc((100% - 840px) / 2);
    min-width: 200px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--toc-bg-color);
    backdrop-filter: blur(3px);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-muted-color);
    border-left: 1px solid var(--text-muted-color);
    opacity: 0.2;
    transition: all 0.5s ease;

    // @media screen and (max-width: 1200px) {
    //   display: none;
    // }

    &:hover {
      opacity: 1;
    }

    & ul {
      overflow-y: auto;
      padding-left: 20px;
      margin: 0;

      &::-webkit-scrollbar {
        position: absolute;
        width: 1px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--text-muted-color);
      }

      & li {
        margin: 20px 0;

        & a {
          color: var(--text-muted-color);
          transition: all 0.2s ease;

          &:hover {
            color: var(--accent-color);
          }
        }

        &::marker {
          color: transparent;
        }
      }
    }

    & a {
      color: var(--text-muted-color);

      &:hover {
        color: var(--text-color);
      }

      &::after {
        display: none;
      }
    }
  }

  & div[class*="language-"] {
    position: relative;
    margin: 16px auto;
    background-color: var(--code-block-bg);
    border-radius: 4px;
    font-size: 0.9rem;

    &:hover button.copy {
      opacity: 1;
    }

    & button.copy {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      width: 50px;
      height: 30px;
      appearance: none;
      border: 1px solid var(--code-numbers-border);
      border-radius: 3px;
      background-color: var(--code-block-bg);
      transition: all 0.2s ease;
      opacity: 0;

      &.copied {
        &::after {
          content: "\2713";
          color: var(--accent-color);
        }
      }

      &::after {
        content: "Copy";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: var(--text-muted-color);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
      }

      &:hover {
        border: 1px solid var(--text-muted-color);

        &::after {
          color: var(--accent-color);
        }
      }
    }

    & span.lang {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 20px;
      margin: 10px;
      padding: 0 6px;
      color: var(--text-faded-color);
    }

    & pre {
      padding: 20px 0;
      margin: 0;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 1px;
        position: absolute;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--text-muted-color);
      }

      & code {
        padding: 0 30px;
        display: block;
        font-family: var(--font-mono);
        width: auto;

        & span {
          @media (prefers-color-scheme: dark) {
            color: var(--shiki-dark, inherit);
          }

          @media (prefers-color-scheme: light) {
            color: var(--shiki-light, inherit);
          }
        }
      }

      &.has-highlighted .line.highlighted {
        padding: 0 30px;
        margin: 0 -30px;
        display: inline-block;
        width: calc(100% + 40px);
        background-color: var(--code-highlight-bg);

        &.error {
          background-color: var(--code-error-bg);
        }

        &.warning {
          background-color: var(--code-warning-bg);
        }
      }

      &.has-focused-lines {
        & .line:not(.has-focus) {
          filter: blur(0.095rem);
          opacity: 0.5;
          transition: all 0.2s ease;
        }

        &:hover {
          .line:not(.has-focus) {
            filter: none;
            opacity: 1;
          }
        }
      }

      &.has-diff .line.diff {
        &.remove {
          padding: 0 30px;
          margin: 0 -30px;
          display: inline-block;
          width: calc(100% + 40px);
          background-color: var(--code-remove-bg);

          &::before {
            content: "-";
            position: absolute;
            transform: translateX(-200%);
            color: var(--code-remove-color);
          }
        }

        &.add {
          padding: 0 30px;
          margin: 0 -30px;
          display: inline-block;
          width: calc(100% + 40px);
          background-color: var(--code-add-bg);

          &::before {
            content: "+";
            position: absolute;
            transform: translateX(-200%);
            color: var(--code-add-color);
          }
        }
      }
    }

    &.line-numbers-mode {
      padding-left: 2.8em;

      & .line-numbers-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
        color: var(--text-muted-color);
        border-right: 1px solid var(--code-numbers-border);
        padding-top: 20px;
        width: 2.8em;
        text-align: center;
        transition:
          border-color 0.5s,
          color 0.5s;
      }
    }
  }

  & .custom-block {
    margin: 16px auto;
    padding: 20px 30px;
    background-color: var(--code-block-bg);
    border-radius: 4px;

    &.info {
      background-color: var(--block-info-bg);
    }

    &.tip {
      background-color: var(--block-tip-bg);
    }

    &.warning {
      background-color: var(--block-warning-bg);
    }

    &.danger {
      background-color: var(--block-danger-bg);
    }

    &.details {
      background-color: var(--block-details-bg);
    }

    & .custom-block-title {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    margin: 60px auto 5px auto;
    padding: 0;
    font-weight: 600;
    position: relative;
    color: var(--text-title-color);

    &:hover a {
      opacity: 1;
    }

    & a {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-120%);
      color: var(--text-muted-color);
      transition: all 0.2s ease;
      opacity: 0;

      &::after {
        display: none;
      }

      &:hover {
        color: var(--text-color);
      }
    }
  }

  & blockquote {
    margin: 16px auto;
    padding: 20px 30px;
    background-color: var(--quote-bg);
    border-radius: 4px;
    font-size: 1.2rem;
    color: var(--text-muted-color);
    border-left: 4px solid var(--text-muted-color);
    transition: all 0.2s ease;
    position: relative;

    & p strong {
      color: var(--text-color);
    }

    & > p:first-child::before {
      content: "format_quote";
      font-family: "Material Icons";
      position: absolute;
      display: block;
      top: -20px;
      right: 10px;
      font-size: 3rem;
      color: var(--text-muted-color);
      opacity: 0.2;
    }

    &:hover {
      border-left-color: var(--text-color);
    }

    & p {
      margin-top: 0;
    }
  }

  & p {
    code {
      padding: 2px 4px;
      font-size: 0.9em;
      color: var(--text-muted-color);
      background-color: var(--code-block-bg);
      border-radius: 4px;

      &::before {
        content: "\`";
      }

      &::after {
        content: "\`";
      }
    }

    & strong {
      font-weight: 900;
      color: var(--accent-color);
    }

    & u {
      text-underline-offset: 3px;
    }

    & mark {
      background-color: var(--accent-color);
      color: var(--bg-color);
      padding: 2px 4px;
      border-radius: 4px;
      margin: 0 2px;
    }

    & sup {
      font-size: 0.8em;
      vertical-align: super;
      line-height: 1;
      top: -0.5em;

      & a {
        color: var(--text-muted-color);

        &::after {
          display: none;
        }

        &:hover {
          color: var(--accent-color);
        }
      }
    }

    & ul,
    & ol {
      & li::marker {
        color: var(--accent-color);
      }
    }
  }

  & img {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

  & p:has(> img) {
    &::after {
      content: attr(alt);
      display: block;
      width: 60%;
      height: auto;
      margin: 10px auto 0 auto;
      text-align: center;
      color: var(--text-muted-color);
      font-size: 0.8rem;
    }
  }

  & section.footnotes {
    font-size: 0.8rem;
    margin: 50px 0;

    &::before {
      content: "参考资料";
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    & ol,
    & ul {
      padding-left: 1rem;
    }

    & .footnote-backref {
      color: var(--text-muted-color);
      font-size: 0.8rem;
      text-decoration: none;
      vertical-align: middle;
      line-height: 1;
      // top: -0.5em;

      &::after {
        display: none;
      }

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
